* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1210px;
	margin: 0 auto;
}

.section-you-get {
	max-width: 100%;
	background-color: #F4F4F4;
}

.pricing-section {
	max-width: 100%;
	display: flex;
	justify-content: center;
	background-image: url('@img/price-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}







@import "variables";
@import "reset";
@import "header";
@import "home-pages";
@import "revolutionary-section.scss";
@import "people-talking";










@import "you-get-section.scss";











@import "pricing-section.scss";